@import '../variables.scss';

.blogs {
  margin: 50px auto 0;

  &__blog {
    margin-bottom: 50px;

    .blog {
      &__link {
        color: $black-1;

        &:hover {
          text-decoration: none;
          color: $black-1;
        }
      }

      &__title {
        margin-bottom: 20px;
      }
    }
  }
}
