.index-page {
  .jumbotron {
    background: transparent;
    background:transparent url('../../assets/images/landing-page-background.jpg') left top no-repeat;
    background-size: cover;
    min-height: 100vh;

    .container {
      margin-top: 20vh;
    }
  }

  .full-width-section {
    padding: 75px 0;

    &:nth-child(2n+1) {
      background-color: #fff;
    }

    &__header {
      margin-bottom: 75px;
    }

    .reason {
      margin-bottom: 50px;

      &__title {
        margin-bottom: 25px;
      }

      &__icon {
        width: 100%;
      }
    }

    .card {
      .card-img-overlay {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    .link {
      text-decoration: none;
    }
  }
}
