@import './variables.scss';

body {
  background-color: $grey-1;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
}

a {
  &:hover {
    text-decoration: none;
  }
}

.page {
  .full-width-section {
    padding: 75px 0;

    &:nth-child(2n) {
      background-color: #fff;
    }

    &__header {
      margin-bottom: 50px;
    }

    .reason {
      margin-bottom: 50px;
      padding: 30px;

      &__title {
        margin-bottom: 25px;
      }

      &__icon {
        width: 100%;
      }
    }

    .card {
      .card-img-overlay {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    .link {
      text-decoration: none;
    }
  }
}

.list {
  margin: 50px auto 0;

  &__item {
    margin-bottom: 50px;

    .item {
      &__link {
        &:hover {
          text-decoration: none;
        }
      }

      &__title {
        margin-bottom: 20px;
      }
    }
  }
}

.blog-post {
  margin: 50px auto 0;

  &__title {
    font-size: 20px;
    margin-bottom: 50px;
  }

  &__body {
    p {
      margin-bottom: 50px;
    }
  }
}

.trek {
  background-color: $white-1;

  &__image {
    height: 50vh;
    background-size: cover;
  }

  &__name {
    margin: -100px 0 20px;
    background-color: $white-1;
    padding: 50px;
    border-radius: 3px;
  }
}
