// color
$brand-1: #07f;

$black-1: #000;

$grey-1: #f8f8fa;

$white-1: #fff;

// font-size
$fs-1: 10px;
$fs-2: 12px;
$fs-3: 14px;
$fs-4: 16px;
$fs-5: 18px;

// font-weight
$fw-1: 100;
$fw-2: 300;
$fw-3: 500;
$fw-4: 700;
$fw-5: 900;
