.jumbotron {
  background: transparent;
  background:transparent url('../../assets/images/landing-page-background.jpg') left top no-repeat;
  background-size: cover;
  min-height: 100vh;

  &.about {
    background:transparent url('../../assets/images/about-page-background.jpg') left top no-repeat;
    min-height: 50vh;
  }

  &.jumbotron-fluid {
    margin-bottom: 0;
  }

  .container {
    margin-top: 20vh;
  }
}
